# Rubrik SDK

## rubrik_cdm

* [Getting Started](rubrik_cdm/getting_started.md)

* [Base API Calls]()
    {% for fn in base_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Bootstrap]()
    {% for fn in bootstrap_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Cluster]()
    {% for fn in cluster_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Cloud]()
    {% for fn in cloud_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Data Management]()
    {% for fn in data_management_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Physical Host]()
    {% for fn in physical_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Helpers]()
    {% for fn in helper_functions %}
    * [{{ fn[0] }}](rubrik_cdm/{{ fn[0] }}.md)
    {% endfor %}

* [Exceptions](rubrik_cdm/exceptions.md)


## rubrik_polaris

* [Getting Started](rubrik_polaris/quick_start.md)

* [Common]()
    {% for fn in polaris_common_functions %}
    * [{{ fn[0] }}](rubrik_polaris/{{ fn[0] }}.md)
    {% endfor %}

* [Accounts]()
    {% for fn in polaris_accounts_functions %}
    * [{{ fn[0] }}](rubrik_polaris/{{ fn[0] }}.md)
    {% endfor %}

* [Compute]()
    {% for fn in polaris_compute_functions %}
    * [{{ fn[0] }}](rubrik_polaris/{{ fn[0] }}.md)
    {% endfor %}
